#bg-color-custom-1{
    background-color:  #EB2A07;
}

#bg-color-custom-2{
    background-color:  #EB7A07 ;
}

#bg-color-custom-3{
    background-color:  #EB5207 ;
}

#bg-color-custom-4{
    background-color:  #EB9B07;
}

#bg-color-custom-5{
    background-color:  #EB9B07;
}



.logo-1-position img:hover{
    cursor: pointer;
}
